@use './variables'as *;
@use './fluid-utils'as *;
@use './fonts'as *;


.benefits {
  background-image: url(/public/img/arhitekturnye-certezi.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  margin: fv(40, 90) 0;
  border-radius: 2dvh;
  overflow: hidden;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
  }

  &__item {
    width: 100%;
    height: 300px;
    position: relative;
    padding: 20px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    & span {
      display: block;
      width: 65px;
      height: 65px;
      aspect-ratio: 1 / 1;

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

    }


    &:nth-child(2) {
      background-color: $white;
      border-radius: 0 0 20px 20px;
      box-shadow: 2px 2px 4px 2px #252525;

      &::before {
        position: absolute;
        top: 0px;
        background: #fff;
        transform: rotate(90deg);
        right: -20px;
        content: "";
        z-index: 100;
        width: 20px;
        height: 20px;
        clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
      }

      &::after {
        position: absolute;
        top: 0px;
        background: #fff;
        transform: rotate(180deg);
        left: -20px;
        content: "";
        z-index: 100;
        width: 20px;
        height: 20px;
        clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
      }
    }

    &:nth-child(4) {
      background-color: $white;
      border-radius: 0 0 0px 20px;
      box-shadow: 2px 2px 4px 2px #252525;

      &::before {
        position: absolute;
        bottom: -20px;
        background: #fff;
        transform: rotate(180deg);
        right: 0px;
        content: "";
        z-index: 100;
        width: 20px;
        height: 20px;
        clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
      }

      &::after {
        position: absolute;
        top: 0px;
        background: #fff;
        transform: rotate(180deg);
        left: -20px;
        content: "";
        z-index: 100;
        width: 20px;
        height: 20px;
        clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
      }
    }

    &:nth-child(5) {
      background-color: $white;
      border-radius: 0px 20px 0 0;
      box-shadow: 2px 2px 4px 2px #252525;

      &::before {
        position: absolute;
        bottom: 0px;
        background: #fff;
        transform: rotate(0deg);
        right: -20px;
        content: "";
        z-index: 100;
        width: 20px;
        height: 20px;
        clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
      }

      &::after {
        position: absolute;
        top: -20px;
        background: #fff;
        transform: rotate(0deg);
        left: 0;
        content: "";
        z-index: 100;
        width: 20px;
        height: 20px;
        clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
      }
    }

    &:nth-child(7) {
      background-color: $white;
      border-radius: 20px 20px 0 0;
      box-shadow: 2px 2px 4px 2px #252525;

      &::before {
        position: absolute;
        bottom: 0px;
        background: #fff;
        transform: rotate(0deg);
        right: -20px;
        content: "";
        z-index: 100;
        width: 20px;
        height: 20px;
        clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
      }

      &::after {
        position: absolute;
        bottom: 0px;
        background: #fff;
        transform: rotate(270deg);
        left: -20px;
        content: "";
        z-index: 100;
        width: 20px;
        height: 20px;
        clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
      }
    }

    &:nth-child(8) {
      box-shadow: inset -5px 0 5px -3px #252525;
    }

    &:nth-child(1) {
      box-shadow: inset 7px 5px 5px -5px #252525;
    }
  }
}


@media (max-width: 576px) {
  .benefits__items {
    padding: 15px;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .benefits__item:nth-child(1),
  .benefits__item:nth-child(3),
  .benefits__item:nth-child(6),
  .benefits__item:nth-child(8) {
    display: none;
  }

  .benefits__item {
    height: 250px;
    border-radius: 20px !important;
  }

  .benefits__item::after,
  .benefits__item::before {
    display: none;
  }

}