@use './variables' as *;
@use './fluid-utils' as *;

.section__hero {
  background:
    linear-gradient(rgba(255, 255, 255, 0.9), rgba(4, 46, 182, 0.85)),
    url(../img/fon-3.avif) center/cover no-repeat;
  border-radius: 45px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100svh - 100px);
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  border-radius: 45px;
  position: relative;
  overflow: hidden; // чтобы ::after не вылезал за скругления

}


.header {
  padding: 20px 0;


  &__wrapper {
    display: flex;
    align-items: center;

    width: 100%;
  }

  &__figure {
    background-color: $white;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 0 20px 20px;
    border-radius: 0 20px;

    &::after {
      position: absolute;
      top: 0;
      background: #fff;
      transform: rotate(180deg);
      left: -20px;
      content: "";
      z-index: 100;
      width: 20px;
      height: 20px;
      clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
    }

    &::before {
      position: absolute;
      bottom: -20px;
      background: #fff;
      transform: rotate(180deg);
      right: 0px;
      content: "";
      z-index: 100;
      width: 20px;
      height: 20px;
      clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
    }
  }
}

.footer__figure {
  background-color: $white;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 60px;
  border-radius: 0 20px;
  max-width: 500px;
  width: 100%;
  max-height: 300px;
  height: 100%;

  &::after {
    position: absolute;
    top: -20px;
    background: #fff;
    transform: rotate(0deg);
    left: 0px;
    content: "";
    z-index: 100;
    width: 20px;
    height: 20px;
    clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
  }

  &::before {
    position: absolute;
    bottom: 0px;
    background: #fff;
    transform: rotate(0deg);
    right: -20px;
    content: "";
    z-index: 100;
    width: 20px;
    height: 20px;
    clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
  }

  & h2 {
    font-size: fv(20, 36);

    & span {
      color: $acccent-color;
    }
  }

}

.header__logo {
  width: 200px;
}

.menu__items {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  background-color: white;
  padding: 20px 40px;
  border-radius: 50px;
  margin: 0 0 0 30px;
}

.menu__item {}

.menu__link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
}

.header__btn {
  background-color: $acccent-color;
  color: $white;
  padding: 19px 35px;
  border-radius: 30px;
}

.hero {

  &__title {
    font-size: fv(30, 64);
    text-transform: uppercase;
    color: $white;
    position: absolute;

    & span {
      color: $acccent-color;
    }
  }
}

.title__one {
  bottom: 300px;
  left: 50px;
}

.title__two {
  bottom: 220px;
  left: 550px;
}

.marquee {
  position: absolute;
  bottom: 40px;
  right: 10px;
  overflow: hidden;
  width: 100%;
  background: transparent;
  height: 60px; /* регулируй под свои кнопки */
}

.marquee__track,
.marquee .is-clone {
  position: absolute;
  top: 0;
  left: 20px;
  display: flex;
  gap: 20px;
  white-space: nowrap;
  align-items: center;
  will-change: transform;
}

.marquee .is-clone {
  margin: 0 0 0 20px;
}

.hero__tag {
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  white-space: nowrap;
}

/* если нужно, чтобы жило в хиро внизу справа */
.hero-inset {
  position: absolute;
  bottom: 40px;
  right: 10px;
  max-width: 1000px;
}