@use './variables'as *;
@use './fluid-utils'as *;
@use './fonts'as *;

.section__hero {
  background:
    linear-gradient(rgba(255, 255, 255, 0.9), rgba(4, 46, 182, 0.85)),
    url(../img/fon-3.avif) center/cover no-repeat;
  border-radius: 45px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100svh - 100px);
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  border-radius: 45px;
  position: relative;
  overflow: hidden; // чтобы ::after не вылезал за скругления

}


.header {
  padding: 20px 0;


  &__wrapper {
    display: flex;
    align-items: center;

    width: 100%;
  }

  &__figure {
    background-color: $white;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 0 20px 20px;
    border-radius: 0 20px;

    &::after {
      position: absolute;
      top: 0;
      background: #fff;
      transform: rotate(180deg);
      left: -20px;
      content: "";
      z-index: 100;
      width: 20px;
      height: 20px;
      clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
    }

    &::before {
      position: absolute;
      bottom: -20px;
      background: #fff;
      transform: rotate(180deg);
      right: 0px;
      content: "";
      z-index: 100;
      width: 20px;
      height: 20px;
      clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
    }
  }
}

.footer__figure {
  background-color: $white;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 60px;
  border-radius: 0 20px;
  max-width: 500px;
  width: 100%;
  max-height: 300px;
  height: 100%;

  &::after {
    position: absolute;
    top: -20px;
    background: #fff;
    transform: rotate(0deg);
    left: 0px;
    content: "";
    z-index: 100;
    width: 20px;
    height: 20px;
    clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
  }

  &::before {
    position: absolute;
    bottom: 0px;
    background: #fff;
    transform: rotate(0deg);
    right: -20px;
    content: "";
    z-index: 100;
    width: 20px;
    height: 20px;
    clip-path: path("M 0 0 a 20 20 0 0 0 20 20 h -20 v -20");
  }

  & h2 {
    font-size: fv(20, 36);

    & span {
      color: $acccent-color;
    }
  }

}

.header__logo {
  width: 200px;
}

.menu__items {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  background-color: white;
  padding: 20px 40px;
  border-radius: 50px;
  margin: 0 0 0 30px;
}

.menu__link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
}

.header__btn {
  background-color: $acccent-color;
  color: $white;
  padding: 19px 35px;
  border-radius: 30px;
  text-align: center;
}

.hero {

  &__title {
    font-size: fv(30, 64);
    text-transform: uppercase;
    font-family: $poppins;
    color: $white;
    position: absolute;

    & span {
      color: $acccent-color;
    }
  }
}

.title__one {
  bottom: 330px;
  left: 100px;

}

.title__two {
  bottom: 230px;
  left: 540px;
}

.hero__tags {
  position: absolute;
  bottom: 40px;
  right: 10px;
  display: flex;
  gap: 20px;
  max-width: fv(600, 1000);
  flex-wrap: wrap;
}

.hero__tags-marquee {
    display: none;
}

.hero__tag {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #fff;
    opacity: 0;
    transition: opacity .25s ease;
  }

  & span {
    position: relative;
    z-index: 1;
    transition: -webkit-text-fill-color .25s ease, color .25s ease, background-position .25s ease;
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover>span {
    background-image: linear-gradient(90deg, #1185b3, #0918ee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; // на всякий
  }
}

@media (max-width: 576px) {
  .footer__figure {
    display: none;
  }

  .hero__tags {
    display: none;
  }

  .menu__items {
    display: none;
  }

  h1.hero__title.title__one {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0;
  }

  .hero__title {
    position: static;
    padding: 0 20px;
    font-size: fv-mob(24, 30);
  }

  .hero__title span {
    font-size: fv-mob(32, 40);
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .header__figure {
    background-color: transparent;
    position: static;
    padding: 20px;
    margin: 60px 0 0;
    order: 2;
  }

  .section__hero {
    border-radius: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(4, 46, 182, 0.95) 50%, rgba(255, 255, 255, 1) 100%), url(../img/fon-3.avif) center/cover no-repeat;

  }

  .hero__tags-marquee {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 12px 0;
    margin: 0 0 30px;
  }

  .hero__tags-row {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 0 20px;
  }

  .hero__tags-track {
    display: inline-flex;
    gap: 16px;
    align-items: center;

    /* главное, чтобы элементы не сжимались */
    &>.hero__tag {
      flex-shrink: 0;
    }

    animation: hero-marquee 25s linear infinite;
    will-change: transform;
    transform: translate3d(0, 0, 0);
  }

  /* вторая строка медленнее и в другую сторону */
  .hero__tags-row--2 .hero__tags-track {
    animation-duration: 30s;
    animation-direction: reverse;
    opacity: 0.9;
  }

  @keyframes hero-marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      /* едем ровно на ширину первой половины, вторая её подменяет */
      transform: translate3d(-50%, 0, 0);
    }
  }
}