@use './variables'as *;
@use './fluid-utils'as *;
@use './fonts'as *;

section#magnifier {
  background:
    linear-gradient(to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.98) 30%,
      rgba(255, 255, 255, 0.85) 50%,
      rgba(255, 255, 255, 0.98) 70%,
      rgba(255, 255, 255, 1) 100%),
    url(../img/fon-3.avif) center / cover no-repeat;
  background-blend-mode: lighten;
  padding: 40px 0;
  margin: 40px 0 0;
   
}

.magnifier {
  position: relative;
  width: min(100%, 350px);
  max-height: 260px;
  aspect-ratio: 4/3;
  overflow: hidden;
  --mask-x: 50%;
  --mask-y: 50%;
  --zoom: 1.5;
  --img1: none; // базовое изображение
  --img2: none; // изображение под лупой
  --bgx: 0px;
  --bgy: 0px;
  cursor: none;
  border-radius: 20px 20px 0 0;

  &__items {
    display: flex;
    align-items: stretch;
    gap: fv(15, 30);
    margin: fv(30, 60) 0;
  }

  &__item {
    max-width: fv(200, 360);
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-self: stretch;
    justify-content: flex-start;
    gap: fv(12, 16);
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #eee;
    background-color: #fff;
    padding: 0 0 20px 0;
  }

  &__text {
    padding: 0 fv(10, 20) fv(10, 20);

    h3 {
      font-size: fv(10, 20);
      font-family: $montserrat;
      font-weight: 500;
      line-height: 130%;
    }

    p {
      font-size: fv(8, 16);
      font-family: $roboto;
      font-weight: 400;
      line-height: 140%;
      color: #615f5f;
      margin: 15px 0 0;
    }

    ul {
      margin: fv(10, 20) 0 0 10px;

      display: flex;
      flex-direction: column;
      gap: fv(7, 15);


      & li {
        font-size: fv(8, 14);
        color: #807d7d;
        font-family: $roboto;
        padding: 0 0 0 10px;
        position: relative;


        &::before {
          content: '';
          position: absolute;
          left: -10px;
          top: 50%;
          transform: translateY(-50%);
          width: 12px;
          height: 12px;
          background: url('/public/img/correct3.png') no-repeat center;
          background-size: contain;
        }
      }
    }
  }

  &__btn {
    margin: auto auto;
    display: block;
    width: calc(100% - 60px);
    text-align: center;
    background: $acccent-color;
    color: white;
    font-size: 16px;
    font-family: $montserrat;
    font-weight: 500;
    padding: 15px 0;
    border-radius: 30px;
    align-self: center;

    &:hover {
      background: #137ef5;
    }
  }

  &__bottom,
  &__mid,
  &__lens {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }

  &__bottom {
    background: var(--img1) center/cover no-repeat;

  }

  &__mid {
    /* тут уже вторая картинка */
    background-image: var(--img2);
    background-repeat: no-repeat;
    background-size: calc(100% * var(--zoom)) calc(100% * var(--zoom));
    background-position: var(--bgx) var(--bgy);
    -webkit-mask: radial-gradient(circle var(--mask-size) at var(--mask-x) var(--mask-y), #fff 99%, transparent 100%);
    mask: radial-gradient(circle var(--mask-size) at var(--mask-x) var(--mask-y), #fff 99%, transparent 100%);
  }

  &__lens {

    -webkit-mask: radial-gradient(circle var(--mask-size) at var(--mask-x) var(--mask-y), transparent 99%, #fff 100%);
    mask: radial-gradient(circle var(--mask-size) at var(--mask-x) var(--mask-y), transparent 99%, #fff 100%);
    filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, .25));

    &::before {
      content: '';
      width: calc(var(--mask-size) * .5);
      aspect-ratio: 1/4;
      background: black;
      position: absolute;
      left: var(--mask-x);
      top: var(--mask-y);
      transform-origin: 50% 0%;
      transform: translate(25%, 25%) rotate(-37.5deg);
      border-radius: 0 0 1rem 1rem;
    }

    &::after {
      content: '';
      width: calc(var(--mask-size) * 2);
      aspect-ratio: 1/1;
      background: dimgray;
      position: absolute;
      left: var(--mask-x);
      top: var(--mask-y);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      border: 10px solid black;
    }
  }

  &__mid,
  &__lens {
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  &:hover {

    .magnifier__mid,
    .magnifier__lens {
      opacity: 1;
    }
  }
}

@media (max-width: 576px) {
  .magnifier__items {
    flex-wrap: wrap;
  }

  .magnifier__item {
    max-width: 100%;
    justify-content: stretch;
  }

  .magnifier {
    width: 100%;
    cursor: auto;             // убираем cursor: none на мобилках
  }

  /* отключаем анимации и ховеры внутри лупы */
  .magnifier__mid,
  .magnifier__lens {
    opacity: 0;               // всегда показаны, не завязаны на :hover
    transition: none;         // без плавных переходов
    filter: none;             // убираем drop-shadow
  }

  /* на всякий случай глушим hover-эффект на мобилках */
  .magnifier:hover .magnifier__mid,
  .magnifier:hover .magnifier__lens {
    opacity: 0;
  }

  .magnifier__text h3 {
    font-size: fv-mob(18, 24);
  }

  .magnifier__text p {
    font-size: fv-mob(16, 20);
  }

  .magnifier__text ul li {
    font-size: fv-mob(12, 16);
  }
}
