@use './variables'as *;
@use './fluid-utils'as *;
@use './fonts'as *;

.container {
  width: min(100% - 30px, 1360px);
  margin-inline: auto;
  position: relative;
}

html {
  scroll-behavior: smooth
}

body {
  background-color: $white;
  padding: 30px 0;
  font-family: $montserrat;
  font-optical-sizing: auto;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.path {
  height: 400px;
  width: 350px;
  clip-path: path("M 23,80 L 163,80 A 23, 20 0, 0, 0 187, 60 L 187, 20 A 23, 20 0, 0, 1 210, 0 L 327, 0 A 23, 20 0, 0, 1 350, 20 L 350, 380 A 23, 20 0, 0, 1 327, 400 L 23, 400 A 23, 20 0, 0, 1 0, 380 L 0, 100 A 23, 20 0, 0, 1 23, 80Z");
  position: relative;
  background: #f0f0f0;
  position: relative;


  &::before {
    content: "";
    width: 98%;
    height: 98%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    // border: 4px solid black;
    clip-path: inherit;
    border-radius: 18px;
  }

}

.path__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.path__item {
  position: relative;
}

.path__item_title {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 250px;
  height: 80px;
  border-radius: 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;

  & i {
    width: 100px;
    font-size: 3rem;
  }
}

.title {
  position: relative;
  display: inline-block;
  font-size: $adt-fs36;
  color: #4a4f54;
  /*padding-left: 20px;*/

  // создаём отдельный слой для текста, чтобы before был под ним
  span {
    position: relative;
    z-index: 2;
  }

  /*
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 64px;
    height: 64px;
    transform: translateY(-50%) rotate(-18deg);
    background: #00aeff;
    clip-path: shape(from 52.85% 11.74%,curve to 72.34% 15.27% with 62.30% 12.16%,curve to 88.91% 27.41% with 82.39% 18.38%,curve to 90.41% 46.69% with 95.43% 36.44%,curve to 83.53% 66.18% with 85.39% 56.93%,curve to 74.82% 83.34% with 81.67% 75.43%,curve to 57.20% 95.16% with 67.97% 91.25%,curve to 38.76% 89.76% with 46.44% 99.06%,curve to 19.22% 77.77% with 31.08% 80.46%,curve to 7.25% 63.58% with 7.36% 75.08%,curve to 13.07% 43.83% with 7.14% 52.07%,curve to 23.19% 28.00% with 18.99% 35.59%,curve to 35.39% 15.87% with 27.38% 20.40%,curve to 52.85% 11.74% with 43.40% 11.33%);
    box-shadow: 0 2px 8px rgba(0,0,0,.06);
    z-index: 1;
  }
*/


  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 35px;
    height: 2px;
    background: #0261cc;
  }
}


@media (max-width: 576px) {
  body {
    padding: 0;
  }

  .title {
    font-size: 30px;
  }
}