@use './variables'as *;
@use './fluid-utils'as *;
@use './fonts'as *;

.map {
    position: relative;

    &__wrapper {
        padding: fv(20, 40) 0 fv(40, 60);
    }
}

svg#map {
    position: absolute;
    inset: 0;
}

.map svg {
    width: 100%;
    display: block;
    height: 100%;
}

/* Слой карты */
#russia {
    fill: transparent;
}

/* Город */
.city {
    cursor: pointer;
}

.city .dot {
    fill: $acccent-color;
    stroke: #ffffff;
    stroke-width: 2;
}

/* Пульсация */
.city .pulse {
    fill: none;
    stroke: #0261cc61;
    stroke-width: 2;
    transform-origin: center;
    animation: pulse 1.8s ease-out infinite;
}

.city:hover .dot {
    fill: $acccent-color;
}

@keyframes pulse {
    0% {
        r: 6;
        opacity: 0.9;
    }

    100% {
        r: 24;
        opacity: 0;
    }
}



.map svg .city {
    cursor: pointer;
}

/* Линия-подсказка */
.map svg .city .hint-line {
  fill: none;
  stroke: $acccent-color;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
  opacity: 0;
  transition: opacity 0.25s;
  pointer-events: none; // <- ключевое
}

.map svg .city-link {
    fill: none;
    stroke: rgba(26, 97, 239, 0.6); // можно заменить на $acccent-color с прозрачностью через rgba()
    stroke-width: 1.5;
    pointer-events: none; // чтобы линии не мешали ховеру по городам
}

/* Прямоугольник с названием */
.map svg .city .hint-box {
  fill: rgba(26, 97, 239, 0.689);
  stroke: #fff;
  stroke-width: 1;
  rx: 4;
  ry: 4;
  opacity: 0;
  transition: opacity 0.25s;
  pointer-events: none; // <- чтобы не ловил hover
}

/* Текст внутри подсказки */
.map svg .city .hint-text {
  fill: #fff;
  font-size: 14px; // у тебя уже так
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  dominant-baseline: middle;
  opacity: 0;
  transition: opacity 0.25s;
  pointer-events: none; // <- тоже
}

/* Показываем линию сразу, а табличку — с задержкой */
.map svg .city:hover .hint-line,
.map svg .city:hover .hint-box,
.map svg .city:hover .hint-text {
  opacity: 1;
  // у таблички/текста можно ещё оставить transition-delay, если хочешь
}

.map svg .city:hover .hint-box,
.map svg .city:hover .hint-text {
    opacity: 1;
    transition-delay: 0.4s; // совпадает с длительностью анимации линии
}