@use './variables'as *;
@use './fluid-utils'as *;
@use './fonts'as *;

.stats {
  padding: fv(20, 40) 0 fv(40, 60);

  &__items {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: fv(20, 30);
    margin: fv(40, 60) 0 0;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    border: 1px solid #eee;
    border-radius: fv(20, 30);
    width: 100%;
    text-align: center;
    padding: fv(20, 30);
  }

  &__item-img {
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1/1;
    margin: 0 auto;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-number {
    font-size: $adt-fs36;
    font-weight: 700;
    font-family: Roboto;
    color: $acccent-color;
  }

  &__item-text {
    font-size: clamp(18px, 12.46px + 0.72vw, 24px);
  }
}

@media (max-width: 576px) {
.stats__items {
    flex-wrap: wrap;
  
}

.stats__item-number {
    font-size: fv-mob(20, 24)
}
.stats__item-text {
    font-size: fv-mob(16, 20)
}
}