@use './fonts'as *;

$base-color: #F1F3F6;
$bg-color: #F6F8FA;
$acccent-color: #0261cc;
$acccent-bg: #FFF4ED;
$text-color: #23282D;
$white: #fff;


$adt-fs16: clamp(8px, 0.83vw, 16px);
$adt-fs20: clamp(10px, 1.04vw, 20px);
$adt-fs74: clamp(32px, 3.85vw, 74px);
$adt-fs90: clamp(32px, 4.69vw, 90px);
$br30: clamp(12px, 1.5625vw, 30px);
$br60: clamp(30px, 3.125vw, 60px);




