@use './variables'as *;
@import './fluid-utils';

.visual {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visual__content {
  display: flex;
  flex-direction: column;

}

.visual__title {
  font-family: $gm;
  font-size: $adt-fs74;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.48px;
  max-width: fv(275, 609);

  & span {
    color: $acccent-color;
  }
}

.visual__text {
  font-family: $gl;
  font-size: $adt-fs20;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  max-width: fv(231, 463);
  margin: fv(10, 30) 0 fv(40, 90);
}

.visual__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: fv(250, 500);
}

.visual__input {
  flex: 1;
  border-radius: fv(8, 20);
  background: #F6F8FA;
  border: none;
  outline: none;
  padding: #{fluid-value(12, 21)} #{fluid-value(20, 35)};
  flex-direction: column;
  align-items: flex-start;
  font-family: $gl;
  font-size: $adt-fs20;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.visual__note {
  font-family: $gl;
  font-size: $adt-fs16;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.visual__note a {
  color: $acccent-color;
}

.visual__image {

  max-width: fv(297.468, 551.54);
  max-height: fv(407.887, 765.039);

}

@media (max-width: 576px) {
  .visual {
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }

  .visual__content {
    display: contents;
  }

  .visual__title {
    font-size: 30px;
    line-height: 120%;
    max-width: 256px;
    margin: 0 30px;
    order: -3;
  }

  .visual__text {
    max-width: 265px;
    margin: 0 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    order: -2;
  }

  .visual__image {
    max-width: 100%;
    max-height: 100%;
    order: -1;
    margin: 0 30px;
  }

  .visual__form {

    max-width: 100%;
    width: calc(100% - 60px);
    margin: 0 auto;

  }

  .visual__input {
    padding: 19px 30px;
    font-size: 14px;
    line-height: 160%;
  }

  .visual__form .primary__btn {
    width: 100%;
  }

  .visual__note {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    max-width: 220px;
    margin: 0 auto;
  }
}