@use 'modern-css-reset';
@use './scss/main';
@use './scss/global';
@use './scss/fonts';
@use './scss/hero';
@use './scss/magnifier';
@use './scss/benefits';
@use './scss/questions';
@use './scss/step';
@use './scss/map';
@use './scss/stats';
@use './scss/contacts';
@use './scss/modal';
@use './scss/callback';