@import "tailwindcss";

/* палитра близкая к тому скрину */
:root{
  --background: 220 20% 97%;
  --foreground: 222 47% 11%;
  --primary: 221 73% 54%;      /* синий */
  --secondary: 259 78% 60%;    /* фиолетовый */
  --muted: 220 14% 96%;
  --muted-foreground: 220 8% 46%;
  --card: 0 0% 100%;
  --border: 220 13% 91%;
  --tw-gradient-stops: hsl(var( --primary))   
}

/* опционально тёмная */
.dark{
  --background: 222 47% 7%;
  --foreground: 0 0% 100%;
  --primary: 221 73% 60%;
  --secondary: 259 78% 65%;
  --muted: 222 13% 15%;
  --muted-foreground: 223 9% 65%;
  --card: 222 15% 12%;
  --border: 220 14% 22%;
}
